/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_tree .
 *= require_self

 */

html,
body {
    margin: 0;
    background-image: linear-gradient(rgba(65, 65, 66, 0.6), rgba(60, 60, 61, 0.6)), url(comidan.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: repeat;
}

.text {
    font-family: GFS Didot;
}

.cicle {
    border-radius: 50%;
}

.cicle:hover {
    border-radius: 45%;
    -webkit-border-radius: 45%;
    box-shadow: 0px 0px 15px 15px #326CAC;
    -webkit-box-shadow: 0px 0px 15px 15px #326CAC;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

.bg-color {
    background-color: rgb(34, 79, 128);
}